In [1]:
import numpy as np

In [2]:
import pandas as pd

In [34]:
data = {'A':['Tom', 'nick', 'krish', 'jack'],
        'B':['Tom', 'nickita', 'krisha', 'jack'],
        'C':[20, 21, 19, 18],
        'D':[20, 24, 19, 29],
        'E':['both','left','right','both'],}

In [35]:
df = pd.DataFrame(data)

In [36]:
df

       A        B   C   D      E
0    Tom      Tom  20  20   both
1   nick  nickita  21  24   left
2  krish   krisha  19  19  right
3   jack     jack  18  29   both

In [38]:
a=df['E']

In [39]:
a

0     both
1     left
2    right
3     both
Name: E, dtype: object

In [41]:
type(a)

pandas.core.series.Series

In [43]:
def check(row):
    if row['E']=='both':
        if row['A']!=row['B'] or row['C']!=row['D']:
            return 0
        else:
            return 1

In [44]:
df['check'] = df.apply(lambda row : check(row), axis = 1)

In [46]:
print(df)

       A        B   C   D      E  check
0    Tom      Tom  20  20   both    1.0
1   nick  nickita  21  24   left    NaN
2  krish   krisha  19  19  right    NaN
3   jack     jack  18  29   both    0.0