In [1]:
import pandas as pd
data = pd.read_csv("C:\Users\Bedantika\Documents\Python Training\test_sap")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-1-7bc9f6c8a9d1>, line 2)

In [2]:
Import pandas as pd
file_sap= "C:\Users\Bedantika\Documents\Python Training\test_sap.csv"
file_sfdc = "C:\Users\Bedantika\Documents\Python Training\test_sfdc"
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

SyntaxError: invalid syntax (<ipython-input-2-d4b7471076ae>, line 1)

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\bedantika\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\bedantika\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in c:\users\bedantika\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\bedantika\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\bedantika\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [75]:
import pandas as pd

#file_sfdc = "C:\Users\Bedantika\Documents\Python Training\test_sfdc"
dfsap = pd.read_csv(r"C:\Users\Bedantika\Documents\Python Training\test_sap.csv")
print(df1)
dfsfdc = pd.read_csv(r"C:\Users\Bedantika\Documents\Python Training\test_sfdc.csv")
print(df2)
print("****")

#for row in df1.head().itertuples():
#    print(row.Index,row['Name'])
#    df2.loc[df[2]
#    df2.loc["name"] == row["Name"]
#   print(row)

#for row in df2.iterrows():
#       print(df2.get_value('Company'))


# Iterate over the Dataframe rows as named tuples
#for namedTupleSap in dfsap.itertuples():
   #Print row contents inside the named tuple
#   for namedTupleSfdc in dfsfdc.itertuples():
#    print(df2.loc[df2['Name'] == namedTuple[1]])

#arr = dfsap.Name.unique()
#print(arr)

common = pd.merge(dfsap,dfsfdc,on = 'Name',how = 'outer',indicator = True)
print(common)
print("****")
print("****")
#df=common[common['_merge']=='left_only']
#df.loc[:'Comment'] = 'data present in SAP file only'
#print(df.to_json(orient='split'))
#
#print(df) 
print("****")



common.loc['_merge' == 'left_only','comment'] = 'SAP only'
print(common)

NameError: name 'df1' is not defined

In [143]:
import pandas as pd
import numpy as np


#Read data from SAP file 
#file_sfdc = "C:\Users\Bedantika\Documents\Python Training\test_sfdc"
dfsap = pd.read_csv(r"C:\Users\Bedantika\Documents\Python Training\test_sap.csv")

#Read data from SFDC file 
#print(dfsap)
dfsfdc = pd.read_csv(r"C:\Users\Bedantika\Documents\Python Training\test_sfdc.csv")

#print(df2)
print("****")

#Joining data from 2 files with 'Name' as key 
common = pd.merge(dfsap,dfsfdc,on = 'Name',how = 'outer',indicator = True)

print(common)

print("****")
print("****")

# Listing the columns of a file 
l = list(dfsap.columns)

#Removing the primary key from the list to be comapred between files 
l.remove('Name')   
print(l)

def check(row):
    
#     print("new record")
        
     if  row['_merge'] == 'left_only' :
          return 'SAP_Only'
        
     elif row['_merge'] == 'right_only' :
         return 'SFDC_Only'
                
      
#    print(row[colx],row[coly])
  
     elif row['_merge'] == 'both' :
        
            s = "Data mismatch:"
            for column in l:

                colx = column + '_x'
                coly = column + '_y'     

    #            print(colx,coly)
      #          print(row[colx],row[coly])

                if row[colx] != row[coly] :

                    s = s  + column + ','
#                    print(row[colx],row[coly],s)

            if s != "":
                return s 

        
        
for  row in common.itertuples(): 
        common['comment'] = common.apply(lambda row : check(row), axis = 1) 

common.drop('_merge', axis=1, inplace=True)
common.to_csv('recon_output.csv')
print(common)


#df=common[common['_merge']=='left_only']
#df.loc[:'Comment'] = 'data present in SAP file only'
#print(df.to_json(orient='split'))
#
#print(df) 



#common['comment'] = 'default value'
#print(common)
"""
commentmap = {}
commentmap['left_only'] = 'SAP_Only'
commentmap['right_only'] = 'SFDC_Only'
common['comment'] = common['_merge'].apply(lambda x: commentmap.get(x, ''))
"""

""" 
            if row['Country_x']!=row['Country_y']:
                return "Country_mismatch"

            if row[colx]!=row[coly]:
                return "Age_mismatch"

            if row['Company_x']!=row['Company_y']:
                return  "Company_mismatch"
        
"""

****
        Name  Country_x  Age_x Company_x Studies_x Country_y  Age_y Company_y  \
0      Rita   New Delhi   20.0       CTS      BBA      Delhi   22.0       CTS
1       Gita    Kolkata   25.0       CTS       BSC   Kolkata   25.0        SS
2   sap_Arun  Hyderabad   23.0       IBM       MBA       NaN    NaN       NaN
3       Alok     Mumbai   24.0       TCS       MSC    Mumbai   24.0       TCS
4      Seema    Chennai   26.0     Wipro       NaN   Chennai   35.0        CG
5  sap_barun    Chennai   26.0        CG       NaN       NaN    NaN       NaN
6    sap_aaa    Chennai   26.0        CG       NaN       NaN    NaN       NaN
7   sfdc_aaa        NaN    NaN       NaN       NaN    Mumbai   24.0       TCS
8   sfdc_bbb        NaN    NaN       NaN       NaN    Mumbai   24.0       TCS

  Studies_y      _merge
0       BBA        both
1       MBA        both
2       NaN   left_only
3       BSC        both
4        12        both
5       NaN   left_only
6       NaN   left_only
7       NaN  right_only
8       NaN  right_only
****
****
['Country', 'Age', 'Company', 'Studies']
        Name  Country_x  Age_x Company_x Studies_x Country_y  Age_y Company_y  \
0      Rita   New Delhi   20.0       CTS      BBA      Delhi   22.0       CTS
1       Gita    Kolkata   25.0       CTS       BSC   Kolkata   25.0        SS
2   sap_Arun  Hyderabad   23.0       IBM       MBA       NaN    NaN       NaN
3       Alok     Mumbai   24.0       TCS       MSC    Mumbai   24.0       TCS
4      Seema    Chennai   26.0     Wipro       NaN   Chennai   35.0        CG
5  sap_barun    Chennai   26.0        CG       NaN       NaN    NaN       NaN
6    sap_aaa    Chennai   26.0        CG       NaN       NaN    NaN       NaN
7   sfdc_aaa        NaN    NaN       NaN       NaN    Mumbai   24.0       TCS
8   sfdc_bbb        NaN    NaN       NaN       NaN    Mumbai   24.0       TCS

  Studies_y                             comment
0       BBA  Data mismatch:Country,Age,Studies,
1       MBA      Data mismatch:Company,Studies,
2       NaN                            SAP_Only
3       BSC              Data mismatch:Studies,
4        12  Data mismatch:Age,Company,Studies,
5       NaN                            SAP_Only
6       NaN                            SAP_Only
7       NaN                           SFDC_Only
8       NaN                           SFDC_Only

In [72]:
list(common.columns)

['Name',
 'Country_x',
 'Age_x',
 'Company_x',
 'Country_y',
 'Age_y',
 'Company_y',
 '_merge',
 'comment']

In [100]:
"""        
    if not row.comment :
        if row.Country_x != row.Country_y:
           common.at[row.Index, 'comment'] = "Country_mismatch"

        if row.Age_x != row.Age_y : 
           common.at[row.Index, 'comment'] =  "Age_mismatch"
           
 """   
def check(row):
    if row['_merge'] == 'both' :
        if row['Country_x']!=row['Country_y']:
            return "Country_mismatch"
        
        if row['Age_x']!=row['Age_y']:
                    return "Age_mismatch"

print(common)

for  row in common.itertuples(): 
#        print(row)
        common['comment'] = common.apply(lambda row : check(row), axis = 1) 

print(common)

        Name  Country_x  Age_x Company_x Country_y  Age_y Company_y  \
0      Rita   New Delhi   22.0       CTS     Delhi   22.0       CTS
1       Gita    Kolkata   25.0       CTS   Kolkata   25.0        SS
2   sap_Arun  Hyderabad   23.0       IBM       NaN    NaN       NaN
3       Alok     Mumbai   24.0       TCS    Mumbai   24.0       TCS
4      Seema    Chennai   26.0     Wipro   Chennai   35.0        CG
5  sap_barun    Chennai   26.0        CG       NaN    NaN       NaN
6    sap_aaa    Chennai   26.0        CG       NaN    NaN       NaN
7   sfdc_aaa        NaN    NaN       NaN    Mumbai   24.0       TCS
8   sfdc_bbb        NaN    NaN       NaN    Mumbai   24.0       TCS

       _merge           comment
0        both  Country_mismatch
1        both              None
2   left_only              None
3        both              None
4        both      Age_mismatch
5   left_only              None
6   left_only              None
7  right_only              None
8  right_only              None
        Name  Country_x  Age_x Company_x Country_y  Age_y Company_y  \
0      Rita   New Delhi   22.0       CTS     Delhi   22.0       CTS
1       Gita    Kolkata   25.0       CTS   Kolkata   25.0        SS
2   sap_Arun  Hyderabad   23.0       IBM       NaN    NaN       NaN
3       Alok     Mumbai   24.0       TCS    Mumbai   24.0       TCS
4      Seema    Chennai   26.0     Wipro   Chennai   35.0        CG
5  sap_barun    Chennai   26.0        CG       NaN    NaN       NaN
6    sap_aaa    Chennai   26.0        CG       NaN    NaN       NaN
7   sfdc_aaa        NaN    NaN       NaN    Mumbai   24.0       TCS
8   sfdc_bbb        NaN    NaN       NaN    Mumbai   24.0       TCS

       _merge           comment
0        both  Country_mismatch
1        both              None
2   left_only              None
3        both              None
4        both      Age_mismatch
5   left_only              None
6   left_only              None
7  right_only              None
8  right_only              None

In [82]:
colx = '_merge'
common[colx]

0          both
1          both
2     left_only
3          both
4          both
5     left_only
6     left_only
7    right_only
8    right_only
Name: _merge, dtype: category
Categories (3, object): [left_only, right_only, both]

In [86]:
for column in common:
    print(common[column])

0        Rita
1         Gita
2     sap_Arun
3         Alok
4        Seema
5    sap_barun
6      sap_aaa
7     sfdc_aaa
8     sfdc_bbb
Name: Name, dtype: object
0    New Delhi
1      Kolkata
2    Hyderabad
3       Mumbai
4      Chennai
5      Chennai
6      Chennai
7          NaN
8          NaN
Name: Country_x, dtype: object
0    22.0
1    25.0
2    23.0
3    24.0
4    26.0
5    26.0
6    26.0
7     NaN
8     NaN
Name: Age_x, dtype: float64
0      CTS
1      CTS
2      IBM
3      TCS
4    Wipro
5       CG
6       CG
7      NaN
8      NaN
Name: Company_x, dtype: object
0      Delhi
1    Kolkata
2        NaN
3     Mumbai
4    Chennai
5        NaN
6        NaN
7     Mumbai
8     Mumbai
Name: Country_y, dtype: object
0    22.0
1    25.0
2     NaN
3    24.0
4    35.0
5     NaN
6     NaN
7    24.0
8    24.0
Name: Age_y, dtype: float64
0    CTS
1     SS
2    NaN
3    TCS
4     CG
5    NaN
6    NaN
7    TCS
8    TCS
Name: Company_y, dtype: object
0          both
1          both
2     left_only
3          both
4          both
5     left_only
6     left_only
7    right_only
8    right_only
Name: _merge, dtype: category
Categories (3, object): [left_only, right_only, both]
0    Country_mismatch
1    Company_mismatch
2            SAP_Only
3                None
4        Age_mismatch
5            SAP_Only
6            SAP_Only
7           SFDC_Only
8           SFDC_Only
Name: comment, dtype: object

In [93]:
for column in common:
    print(column)

Name
Country_x
Age_x
Company_x
Country_y
Age_y
Company_y
_merge
comment